<a href="{{ site.baseurl }}/" class="cell small-12 large-4 logo text-center"><picture class="float-left">
						<source srcset="{{ site.baseurl }}/img/logo.png" media="(min-width: 600px)">
						<img src="{{ site.baseurl }}/img/logo.png" alt="Awminous Productions" title="Awminous Productions">
					</picture></a>

 <nav class="cell small-12 large-8">
  <ul class="menu float-right">
    <li><a href="{{ site.baseurl }}/" class="home" title="Home">Home</a></li>
    <li><a href="{{ site.baseurl }}/animation" class="anim" title="Animation">Animation</a></li>
    <li><a href="{{ site.baseurl }}/artworks" class="artw" title="Artworks">Artworks</a></li>
    <li><a href="{{ site.baseurl }}/aboutus" class="about" title="About Us">About Us</a></li>
    <li><a href="{{ site.baseurl }}/contact" class="contact" title="Contact">Contact</a></li>
  </ul>
</nav>